<script src="https://code.jquery.com/jquery-3.3.1.min.js"></
script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--index.js 추가-->
</body>
<footer class="page-footer font-small cyan darken-3">
    <div class="footer-copyright text-center py-3">
        2022 COMONG java Mustache Test WebSite by HOJIN JANG
    </div>
</footer>
<script src="/js/app/index.js"></script>
</html>